/* line 4, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
body, p, ol, ul, td, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

/* line 9, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
.tagLine {
  margin: -16px 0 16px 64px;
}

/* line 11, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
img.ceNameTag {
  margin: 0 0 16px 8px;
  width: 200px;
  height: 23px;
}

/* line 17, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.join_com {
  float: right;
  margin: 34px 0 12px 0;
}
/* line 20, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.join_com a {
  font-size: 14px;
  font-weight: bold;
}

/* line 24, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.logo {
  text-align: left;
  float: left;
}
/* line 28, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.logo img.logo {
  width: 50px;
  height: 40px;
}

/* line 32, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
hr.top {
  clear: both;
  margin-bottom: 0;
}

/* line 36, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.page {
  width: 980px;
  margin: auto;
}
/* line 39, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.page p.tall {
  height: 0px;
}
/* line 41, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.page fieldset {
  width: 275px;
}

/* line 45, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.about {
  width: 625px;
}
/* line 47, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.about td {
  vertical-align: top;
  padding-bottom: 20px;
}
/* line 50, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.about td p {
  margin: 0 0 1em 1em;
}
/* line 52, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.about td p.title {
  font-weight: bold;
}

/* notebook and spiral CSS */
/* line 57, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
/*div.spiral {*/
  /*background: url(/images/layout/notebook_paper_spiral.gif) repeat-y;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 33px;*/
  /*height: 100%;*/
/*}*/

/* line 66, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
/*div.notebook {*/
  /*margin-left: 12px;*/
  /*background: url(/images/layout/parchment_tile.jpg);*/
  /*padding-left: 50px;*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
  /*min-height: 400px;*/
/*}*/

/* line 79, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
/*div.home div.notebook {*/
  /*height: 500px;*/
/*}*/

/* line 82, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home, div.get_started, div.home_pages {
  position: relative;
  margin-top: 30px;
}

/* End notebook and spiral CSS */
/* home page above fold */
/* line 90, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
img.logo {
  display: block;
  margin-bottom: 30px;
  float: left;
}

/* line 96, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.header h2 {
  font-size: 48px;
  margin: 0;
  text-shadow: white 0 2px 0;
}
/* line 101, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.header p {
  font-size: 1.5em;
  margin-top: 16px;
}

/* line 105, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.mission {
  float: left;
  width: 625px;
}
/* line 108, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.mission p {
  font-size: 1.5em;
  margin-top: 16px;
}

div.mission li {
  font-size: 1.4em;
}

/* line 112, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.video {
  float: right;
  margin: 24px 40px 0 0;
}
/* line 115, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.video img {
  display: block;
}
/* line 117, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.video a {
  text-decoration: none;
}
/* line 119, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.video p {
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  margin-top: 8px;
}
/* line 123, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.video p span.bright {
  color: #ec5424;
}

/* line 127, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.call_to_action_div {
  float: left;
  width: 625px;
  text-shadow: white 0 1px 0;
}
/* line 131, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.call_to_action_div a {
  text-decoration: none;
}

/* line 135, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.subscribe {
  font-weight: bold;
  float: right;
  width: 400px;
  text-align: left;
  margin: 22px 40px 0 0;
}
/* line 141, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.subscribe p {
  margin: 0 0 6px 0;
}
/* line 143, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.subscribe input[type=text] {
  width: 200px;
}

/* line 146, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.call_to_action {
  width: 200px;
  background-color: #ec5424;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #1e6a96;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 1em 2em;
  cursor: pointer;
}

/* END home page above fold */
/* home page nav links */
/* line 166, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links {
  float: right;
}
/* line 168, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links ul {
  margin: 14px 30px 0 0;
  padding-left: 0px;
}
/* line 171, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links ul li {
  font-size: 1.1em;
  list-style-type: disc;
  display: inline;
  padding: 0 1em 0 0;
  margin: 0 1em 0 0;
  border-right: 1px solid #6699cc;
}
/* line 178, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links ul li:last-child {
  list-style-type: disc;
  display: inline;
  padding: 0;
  border-right: 0px;
}
/* line 183, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links ul > li:first-child {
  padding-left: 0;
}
/* line 185, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links li.active {
  font-weight: bold;
}
/* line 187, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_links li.active a {
  text-decoration: none;
  color: black;
  cursor: default;
}

/* END home page nav links */
/* line 195, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
p.clear_both {
  clear: both;
}

/* line 199, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.social_proof_logos {
  height: 120px;
  margin-top: 50px;
  margin-left: 60px;
}
/* line 203, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.social_proof_logos img {
  margin-right: 55px;
}
/* line 205, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.social_proof_logos a {
  text-decoration: none;
}

/* line 208, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works {
  height: 640px;
  margin-top: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2em 3em;
  background: url(/images/layout/parchment_tile.jpg);
}
/* line 217, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works > p {
  font-size: 1.2em;
}
/* line 219, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot {
  width: 260px;
  height: 260px;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
/* line 227, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot img {
  width: 256px;
  height: 140px;
  border: 2px solid #bcc3d0;
  display: block;
  background-color: #f9f3de;
}
/* line 234, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot h3 {
  margin-bottom: 4px;
  color: #2b4268;
}
/* line 237, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot p {
  line-height: 1.3em;
  margin: 0;
}
/* line 240, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot a {
  display: block;
  margin-top: 4px;
}
/* line 243, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.how_it_works div.screenshot.last {
  margin-right: 0;
}

/* line 246, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.quote {
  margin: 50px 0;
}
/* line 250, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.quote p {
  font-size: 1.6em;
  margin-left: 20px;
  width: 600px;
}

/* line 255, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.featured_projects {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2em 3em;
  background: url(/images/layout/parchment_tile.jpg);
}

/* line 265, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.call_to_action.lower {
  margin: 50px 0;
}

/* get_started form */
/* line 271, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms table {
  width: 600px;
}
/* line 273, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms label {
  font-weight: bold;
}
/* line 275, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms input[type=text] {
  width: 200px;
  margin-bottom: 20px;
}
/* line 278, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
}
/* line 282, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms td {
  vertical-align: top;
}
/* line 285, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms div.get_started form {
  margin-top: 40px;
}
/* line 287, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms div.get_started p {
  width: 600px;
}
/* line 289, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms div.get_started p.em {
  font-weight: bold;
}
/* line 291, ../../../app/assets/stylesheets/ce_home/civic_home.sass */
div.home_forms div.get_started li {
  width: 580px;
  margin-bottom: 1em;
}

/* END get_started form */

